 /* The animation code */
@keyframes rotate 
 {
    0% {
      transform: rotate(360deg);
      float:  left;
      bottom: 80px;
      left: 10px
    }
     
    100% {
      bottom: 80px;
      left: 50px;
          }
  }
     /* The element to apply the animation to */
  div {
    width: 50px;
    height: 50px;
    background-color: blue;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;   
  }

